.about-section{
    display: flex;
    
}
.about-section_topic h1{
    display: flex;
    margin-left: 10%;
    border-left: 10px solid var(--secondaryColor);
    
    

}
.about-section_content p{
    margin: 20px 8rem;
    font-size: 1.4rem;
    color: white;
    /* columns: 150px auto; */

}

@media screen and (max-width:600px)  {

    .about-section_topic h1{
        margin-left:2%;
    }
    .about-section_content p{
        font-size: 1.5rem;
        margin-left:10%;
        width: 21rem;
    }
    
    
}
