.contact-title{
    text-align: center;
}
.contact-title h1{
    font-size: 5rem;
    color: var(--secondaryColor);
}

.i-text{
    color: var(--secondaryColor);
    font-size: 2rem;
    font-weight: 700;
}
a{
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
}

.left{
    margin: 6rem 6rem;
}
.right img{
    width: 572px;
    height: 542px;
}
.contactSection__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and(max-width:412px) {
    a{
        font-size: 1px;
    }
    
  
    
    
    
}
