@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
     border: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Titillium Web', sans-serif;
     background-color:var(--mainColor);
}

:root{
    --mainColor:#130f40;
    --mainColorLight:#5765aa;
    --secondaryColor:#f9ca24;
    --textColor:#eee;
    --background:#01030a;
    --ButtonColor:#e74c3c;

}





/* ------------Intro--------------- */
.intro {
    margin-top: 8%;
    display: flex;
}

@media screen and (max-width:550px) {
    .intro{
        flex-direction: column;
    }
    .ImgContainer img{
           height: 70%;
           width: 80%;
           
           
    }
}
.left{
    flex: 0.5;
    overflow: hidden;
    
    
}
.right{
    flex: 0.5;
    padding: relative;
    
}
.ImgContainer{
    width: 700px;
    height: 700px;
    
    

}
.ImgContainer img{
    height: 80%;
    background-color: #eee;
    /* border-radius: 97% 3% 34% 66% / 24% 100% 0% 76%  ; */
    border-radius: 30rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    

}
.wrapper h2,h1,h3{
    color:var(--intro-text);
}
.wrapper{
    width: 100%;
    height: 100%;
    padding-left:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    /* font-size: 60px; */
    margin: 10px 0;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 30px;
}

span{
    font-size: inherit;
    color: var(--secondaryColor);
}


@media screen and (max-width:600px){
    .wrapper{
    flex-direction: column;
    justify-content: center;
    }
    
}

@media screen and (max-width:390px){



    .ImgContainer{
        width: 50rem;
        height: 700px;
        margin-bottom: 10rem;

    }
    .ImgContainer img{
           
           height: 20rem;
           width: 20rem;
           /* border-radius: 40% 3% 34% 66%/24% 100% 0% 76%  ; */
           border-radius: 30rem ;
           background-color: none;
           align-items: center;
    }
    .wrapper {
        margin-top: -35rem;
        width: 30rem;
    }
    
}

@media screen and (max-width:430px) {
    .ImgContainer{
        width: 60rem;
        height: 700px;
        margin-bottom: 10rem;

    }
    .ImgContainer img{
           
        height: 20rem;
        width: 20rem;
        /* border-radius: 40% 3% 34% 66%/24% 100% 0% 76%  ; */
        border-radius: 30rem ;
        background-color: none;
        align-items: center;
 }
 .wrapper {
    margin-top: -25rem;
    width: 30rem;
}

    
}
/* ----------About css --------------- */


