.title-top{
    text-align: center;
    margin-top: -30px;
}
.title-top h1{
    font-size: 5rem;
    color: var(--secondaryColor);
    margin-bottom: 30px;
}

.skills-logo{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.skills-logo img{
    width: 235px;
    height: 225px;
    margin: 0 25px;
    border-radius: 6rem;
}

@media screen and (max-width:390px){
    .title-top{
        text-align: center;
        margin-left: 9rem;
    }
    .title-top h1{
        margin-top: -15rem;
    }
    .skills-logo{
        margin-left: 9rem;
    }
    .skills-logo img{
        margin: 25px 0;
    }
}